---
# -------------------------------------------------------
# Start Application
# -------------------------------------------------------
- name: Start Pi-hole Services
  shell: docker compose up -d
  args:
    chdir: "{{ project_dir }}/docker"
  environment:
    PIHOLE_PASSWORD: "{{ pihole_password }}"

# -------------------------------------------------------
# Pi-hole V6 Configuration
# -------------------------------------------------------
- name: Wait for Pi-hole container to be ready
  pause:
    seconds: 10

- name: Allow non-local queries (Pi-hole v6)
  command: docker exec pihole sed -i 's/listeningMode = "LOCAL"/listeningMode = "ALL"/' /etc/pihole/pihole.toml
  changed_when: false

- name: Restart Pi-hole to apply config
  command: docker restart pihole
  changed_when: false
