---
# -------------------------------------------------------
# Pi-hole Deployment (Optimized Flow)
# -------------------------------------------------------
- name: Clone Pi-hole Project
  git:
    repo: "{{ project_repo }}"
    dest: "{{ project_dir }}"
    version: more_tests
    force: yes

- name: Pull Docker Images
  command: docker compose pull
  args:
    chdir: "{{ project_dir }}/docker"
  changed_when: false

# -------------------------------------------------------
# Network Fixes (Port 53 & DNS)
# -------------------------------------------------------
- name: Link /etc/resolv.conf to upstream (Fix Docker DNS for future)
  file:
    src: /run/systemd/resolve/resolv.conf
    dest: /etc/resolv.conf
    state: link
    force: true
  register: resolv_link

- name: Stop and disable systemd-resolved
  systemd:
    name: systemd-resolved
    state: stopped
    enabled: no

# - name: Disable systemd-resolved stub listener (Free up Port 53)
#   lineinfile:
#     path: /etc/systemd/resolved.conf
#     regexp: '^#?DNSStubListener='
#     line: 'DNSStubListener=no'
#   register: resolved_conf

# - name: Restart systemd-resolved (Apply Port 53 fix)
#   service:
#     name: systemd-resolved
#     state: restarted
#   when: resolved_conf.changed

- name: Restart Docker (Pick up DNS changes)
  service:
    name: docker
    state: restarted
  when: resolv_link.changed

# -------------------------------------------------------
# Start Application
# -------------------------------------------------------
- name: Start Pi-hole Services
  community.docker.docker_compose_v2:
    project_src: "{{ project_dir }}/docker"
    state: present
    build: always
    env_files: []
  environment:
    PIHOLE_PASSWORD: "{{ pihole_password }}"

# -------------------------------------------------------
# Pi-hole V6 Configuration
# -------------------------------------------------------
- name: Wait for Pi-hole container to be ready
  pause:
    seconds: 10

- name: Allow non-local queries (Pi-hole v6)
  command: docker exec pihole sed -i 's/listeningMode = "LOCAL"/listeningMode = "ALL"/' /etc/pihole/pihole.toml
  changed_when: false

- name: Restart Pi-hole to apply config
  command: docker restart pihole
  changed_when: false
